---
---

$gray: #999;
$light-gray: #EEE;

/* Space out content a bit */
body {
    padding-top: 20px;
}

.header {
    border-bottom: 1px solid $light-gray;
    padding-bottom: 10px;
    margin-bottom: 20px;
    text-align: center;
}

.footer {
    /* padding-top: 19px; */
    color: $gray;
    border-top: 1px solid $light-gray;
    text-align: center;
    font-size: 0.8em;

    a:link, a:visited {
        color: $gray;
    }
}

.fa {
    color: $gray;
}
a > .fa {
    // make sure that font-awesome icons are underlined in links
    display: inline;
}

/* /\* Customize container *\/ */
/* @media (min-width: 768px) { */
/*     .container { */
/*         max-width: 730px; */
/*     } */
/* } */

/* Jumbotron */
.jumbotron {
    text-align: justify;
    padding-top: 1%;
    padding-bottom: 0.25%;
    font-size: 110%;
    border-radius: 15px 50px;
}

/* Group logo */
#logo {
    width: 180px;
    height: auto;
    margin: 2px 0 8px 0;
}

/* Front page news. */
ul.news {

    .date {
        color: $gray;
        font-weight: bold;
    }

    > li {
        margin-top: 1em;
    }
}

@media (min-width: 576px) {
    .project-people { column-count: 2 }
    .card-columns   { column-count: 2 }
}

@media (min-width: 768px) {
    .role.grad      { column-count: 2 }
    .project-people { column-count: 3 }
    .card-columns   { column-count: 3 }
}

.title img {
    max-width: 50%;
}

section {
    margin-bottom: 2em;
}

#mainframe {
  width: 100%;
  float: left;
}
#mainframe .maincol {
  width: 70%;
  float: left;
  margin-right: 5%;  
}

#mainframe .rightcol {
  width: 25%;
  float: left;  
  padding: 15px;
  border-radius: 15px 50px;
  margin-top: 10px;
  background-color: rgb(230,230,230);
}



.profile {
    object-fit: cover; // makes sure it's cropped
}

.noprofile {
    circle {
        fill: $light-gray;
    }
    text {
        font-weight: 700;
        fill: white;
    }
}

.card {
    .profile {
        height: 40px;
        width: 40px;
        margin: 3px;
    }

    .card-footer { padding: 0.5em }
}

.person {

    margin-bottom: 10px;

    .profile {
        height: 70px;
        width: 70px;
    }

    .bio {
        color: $gray;
    }

    .person-name {
        margin: 0;
    }
}

.person-without-image {
    margin: 0;

    .bio {
        margin-left: 1em;
    }
}

svg {
    // make the alignment just like img from bootstrap's reboot.scss
    vertical-align: middle;
}

// Publications

.publications {
    margin-top: 2rem;
    h1 {
      color: var(--global-theme-color);
      font-size: 2rem;
      text-align: center;
      margin-top: 1em;
      margin-bottom: 1em;
    }
    h2 {
      margin-bottom: 1rem;
      span {
        font-size: 1.5rem;
      }
    }
    h2.year {
      color: $gray;
      border-top: 1px solid $light-gray;
      padding-top: 0rem;
      margin-top: 0rem;
      margin-bottom: -3rem;
      text-align: right;
    }
    .totalpubs {
        vertical-align: middle;
    }
    li {
        visibility: hidden;
        height: 0;
    }
    .hidden {
        font-size: 0.875rem;
        max-height: 0px;
        overflow: hidden;
        text-align: justify;
        -webkit-transition: 0.15s ease;
        -moz-transition: 0.15s ease;
        -ms-transition: 0.15s ease;
        -o-transition: 0.15s ease;
        transition: all 0.15s ease;

        p {
          line-height: 1.4em;
          margin: 10px;
        }
        pre {
          font-size: 1em;
          line-height: 1.4em;
          padding: 10px;
        }
    }

    .hidden {
        font-size: 0.875rem;
        max-height: 0px;
        overflow: hidden;
        text-align: justify;
        -webkit-transition: 0.15s ease;
        -moz-transition: 0.15s ease;
        -ms-transition: 0.15s ease;
        -o-transition: 0.15s ease;
        transition: all 0.15s ease;

        p {
          line-height: 1.4em;
          margin: 10px;
        }
        pre {
          font-size: 1em;
          line-height: 1.4em;
          padding: 10px;
        }
      }

    ol.bibliography {
      list-style: none;
      padding: 0;
      margin-top: 0;
  
      li {
        margin-bottom: 1rem;
        .abbr {
          height: 2rem;
          margin-bottom: 0.5rem;
          abbr {
            display: inline-block;
            background-color: var(--global-theme-color);
            padding-left: 1rem;
            padding-right: 1rem;
            a {
              color: white;
              &:hover {
                text-decoration: none;
              }
            }
          }
          .award {
            color: var(--global-theme-color) !important;
            border: 1px solid var(--global-theme-color);
          }
        }
        .title {
          font-weight: bolder;
        }
        .author {
          a {
            border-bottom: 1px dashed var(--global-theme-color);
            &:hover {
                border-bottom-style: solid;
                text-decoration: none;
            }
          }
          > em {
            border-bottom: 1px solid;
            font-style: normal;
          }
        }
        
      }
    }
  }
  
