---
---

<td class="publication">
	<span class="venuetype">
		<i>[{{ entry.type }}]</i>
	</span>
	<span class="pubtitle">
		{% if entry.url %}
		<img src="img/pdficon_small.png" width="16"
			height="16" alt="PDF" />
		<a href="{{ entry.url |escape }}">{{ entry.title }}</a>
		{% else %}
		{{ entry.title }}
		{% endif %}
	</span>
	<br>
	<span class="authors">

		{% for author in entry.author_array %}
          {% if forloop.length == 1 %}
            {% if author.last == site.scholar.last_name %}
              <em>{{author.last}}, {{author.first}}</em>
            {% else %}
              {{author.last}}, {{author.first}}
            {% endif %}
          {% else %}
            {% unless forloop.last %}
              {% if author.last == site.scholar.last_name %}
                <em>{{author.last}}, {{author.first}}</em>,
              {% else %}
                {% if site.data.people[author.last] %}
                  <a href="{{site.data.people[author.last].webpage}}" target="_blank">{{author.last}}, {{author.first}}</a>,
                {% else %}
                  {{author.last}}, {{author.first}},
                {% endif %}
              {% endif %}
            {% else %}
              {% if author.last == site.scholar.last_name %}
                and <em>{{author.last}}, {{author.first}}</em>
              {% else %}
                {% if site.data.people[author.last] %}
                  and <a href="{{site.data.people[author.last].webpage}}" target="_blank">{{author.last}}, {{author.first}}</a>
                {% else %}
                  and {{author.last}}, {{author.first}}
                {% endif %}
              {% endif %}
            {% endunless %}
          {% endif %}
        {% endfor %}
	</span>
	
	{% if entry.journal %}
		<span class="venue">
		<br><i>{{ entry.journal }}</i> 
		</span>.
	{% endif %}
	{% if entry.note %}	
		<span class="note">
		<br><b>{{ entry.note|escape }}.</b>
		</span>
	{% endif %}
	<span class="links">
		{% if entry.abstract %}
			[<a class="dropdown-toggle" data-toggle="dropdown" href="javascript:void(0);" onclick="$('#abstract_{{entry.key}}').slideToggle('fast');return false;">abstract</a>]
		{% endif %}
	</span>
	{% if entry.abstract %}
	<div id="abstract_{{entry.key}}" class="abstract hidden">
	{{ entry.abstract }}
	</div>
	{% endif %}
</td>